@import '../../styles/_default';

.loadingBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0,0,0,.8);
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  figure {
    text-align: center;
    animation: twinkle 2s infinite;
    
    img {
      width: 70px;
    }

    figcaption {
      margin-top: 1em;
      font-family: $font-family-header;
      text-align: center;
      font-weight: lighter;
    }
  }
}

@keyframes twinkle {
  0% { opacity: .1; }
  50% { opacity: .8; }
  100% { opacity: .1; }
}