@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Raleway:300&display=swap');

$font-family-header: 'Oswald', sans-serif;
$font-family-paragraph: 'Raleway', sans-serif;
$yellow: #E1980B;
$white: #FFF;
$red: #CD1E28;
$dark-grey: #111;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
}

::selection {
  background-color: $yellow;
  color: #000;
}

body {
  color: $white;
  background: rgb(0,0,0);
  font-weight: 300;
  font-family: $font-family-paragraph;
  overflow-y: scroll;
  scroll-behavior: smooth;
  line-height: 1.5;
}

a {
  color: $yellow;
  text-decoration: none;
}

h1, h2 {
  text-transform: uppercase;
  font-family: $font-family-header;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

button {
  cursor: pointer;
  outline: 0;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin phone-only {
  @media (max-width: 599px) { @content; }
}

.fadeIn {
  animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
