@import '../../styles/_default';

.logos {
  a {
    display: inline-block;
    padding: 5px;

    @include phone-only {    
      padding: 0;
    }

    img {
      height: 70px;

      @include phone-only {    
        height: 45px;
      }
    }
  }
}